{% include "game/header.html" %}
<h1>Welcome to the 'Let's play a game' experiment!</h1>

<p>This experiment is part of a study at the Human-Technology Interaction
department of the Eindhoven University of Technology. In this experiment you
will be playing several rounds of a simple game, followed by a number of
questions about yourself and some other topics. More information about the
nature and purpose of the experiment will be provided after completion of the
experiment.</p>

<p>You will receive a fixed cash reward for your participation. The money units (MU) used in this game are entirely fictional and exist only in the game context.</p>

<p>The experiment usually takes about 15 minutes to complete. Please make sure you
have enough time to finish the experiment before you start. Please make sure to avoid distractions, such as textual or auditory conversations, during the experiment.</p>

<p>Participation in this study is entirely voluntary and as such, you are free to
stop the experiment at any time.  Should you wish to do so, simply close the
browser window containing the experiment's web page. Note that you will only receive payment if
you complete the full experiment.</p>

<p>The data collected in these experiments will be handled anonymously and will be
used exclusively for scientific purposes.</p>

<p>If you have read and agree with the conditions above, you can confirm your
consent by pressing the 'Start' button at the bottom of the page.</p>

<em>Press 'Start' to begin the experiment.</em>

<form action="{% url 'game:view_instructions' %}" method="get">
 <input type="submit" value="Start" />
</form>

{% include "game/footer.html" %}
