{% include "game/header.html" %}
<h1>Welcome to the 'Let's play a game' experiment!</h1>

<p>This experiment is part of a study at the Human-Technology Interaction
department of the Eindhoven University of Technology. In this experiment you
will be playing several rounds of a simple game, followed by a number of
questions about yourself and some other topics. More information about the
nature and purpose of the experiment will be provided after completion of the
experiment.</p>

<p>A cash prize of &euro;15,00 will be raffled among every 5 participants. The
chances of winning are the same for every participant, so you have a 20% chance
of getting &euro;15,00 for your participation.  Note that you are only allowed
to participate in this experiment once and that you are only eligible for one
of the &euro;15,00 prizes if you complete the entire experiment.</p>

<p>The experiment usually takes about 15 minutes to complete. Please make sure you
have enough time to finish the experiment before you start. Also, please turn
off your cell phone and any messaging services on your computer to avoid
distractions during the experiment.</p>

<p>Participation in this study is entirely voluntary and as such, you are free to
stop the experiment at any time.  Should you wish to do so, simply close the
browser window containing the experiment's web page.</p>

<p>The data collected in these experiments will be handled anonymously and will be
used exclusively for scientific purposes.</p>

<p>If you have any questions about the experiment, you can ask them by sending an
e-mail to <a href="mailto:vera24m@yahoo.com">mailto:vera24m@yahoo.com</a>.</p>

<p>If you have read and agree with the conditions above, you can confirm your
consent by pressing the 'Start' button at the bottom of the page.</p>

<em>Press 'Start' to begin the experiment.</em>

<form action="{% url 'game:view_instructions' %}" method="get">
  <input type="submit" value="Start" />
</form>

{% include "game/footer.html" %}
