{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Experiment: Let's play a game!</title>
    <link rel="icon" type="image/x-icon" href="{% static "game/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "game/style3.css" %}"/>
  </head>
  <body>
<h1>Let's play a game - game instructions</h1>

<div><p style="float: left; margin-right: -80px;"><img src="{% static 'game/instructions/'|add:opponent_kind|add:'.png' %}" alt="photo" style="width: 80%; height: 80%" /></p>

<!-- Include test from /opt/lampp/htdocs/ultimatum/letsplayagame_gameinfo.php -->
<br />
<p>As mentioned on the previous page, the first part of this experiment consists of several rounds of a simple game. The game revolves around 'Money Units' ('MU'), the currency of the game.
Two players take part in the game: you and your opponent. The objective for both players is to gather MU. You will play eight rounds in total and face a <emph>different</emph> opponent in each round.</p>

<p>Each round consists of 3 steps:
<ol>
<li>A short introduction: you get to see a picture of the opponent you will face in this round.</li>
<li>A total amount of 100 MU is available at the start of the round. Your opponent gets to
propose a division of the available 100 MU between the players. <em>For instance, your opponent may propose that you yet 25 MU, keeping the remaining 75 MU.</em></li>
<li>After receiving this offer, you get to decide whether the deal goes through. You have two options: to accept the offer or to refect the offer.</li>
<ol type="a"><li><strong>Accept:</strong> If you accept the offer, the Money Units are distributed as proposed by your opponent. <em>Continuing the above example, you would get 25 MU and your opponent would get 75 MU.</em></li>
<li><strong>Reject:</strong> If you reject the offer, the deal is off. As a result, your opponent will receive no MU in this round, but it also means you give up your share and receive no MU in this round.</li></ol></ol></p>

<p>Note that you will only meet each of the opponents once and that neither you, nor the other
players, have any means of communicating with one another. What happens in each round
therefore stands alone and cannot inﬂuence or be inﬂuenced by other game rounds.
</p>
</div>

<em>Click 'Next page' to continue with the experiment and start the first round.</em>
<form action="{% url page %}" method="get">
  <input type="submit" value="Next page" />
</form>

  </body>
</html>
